@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>O meu nome é João Paulo, quer me conhecer mais profossionalmente?</p>
    <p>Então acesse:</p>
    <p><b>Linkedin: </b><a href="https://www.linkedin.com/in/joaopaulovieira-dev/" target="_blank">https://www.linkedin.com/in/joaopaulovieira-dev</a>
    <p><b>Portfólio: </b> <a href="https://joaopaulovieira.dev/" target="_blank">https://joaopaulovieira.dev</a></p>
    <p><b>GitHub: </b> <a href="https://github.com/joaopaulovieira-dev" target="_blank">https://github.com/joaopaulovieira-dev</a></p>

</div>
